version: '3'

services:

  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env/development/database
      - .env/development/web
    depends_on:
      - database

  database:
    image: postgres
    env_file:
      - .env/development/database
